
img {
  width: 100px;
  height: 100px;
  margin: 10px 50px 10px 50px;
}
ul {
  list-style-type: none;
}

.grid-item{
  margin:10px;
}
#grid-item{
  padding:10px;
}
/* Desktop */
#grid-floats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-auto-flow: dense;
  grid-gap: 0.8em;
  text-align: center;
  color: azure;
}
hover:#grid-floats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 50px auto 50px;
  grid-auto-flow: dense;
  grid-gap: 0.8em;
  text-align: center;
  color: azure;
  opacity: 0.2;

}


#grid-floats > .grid-item:nth-child(1) {
  background-color: #538bdf;
  grid-column: 1 / 3;
  grid-row: 1 / -1;
}

#grid-floats > .grid-item:nth-child(2) {
  background-color: #39b261;
  grid-column: 3 / 4;
  grid-row: 1 / -1;
}

#grid-floats > .grid-item:nth-child(3) {
  background-color: rgb(132, 105, 156);
  grid-column: 4 / 5;
  grid-row: 1 / -1;
}
#grid-floats > .grid-item:nth-child(n + 4):nth-child(-n + 15) {
  background-color: rgb(48, 95, 107);
}
/* For mobile Devices */
@media screen and (max-width: 550px) {
  #grid-floats > .grid-item:nth-child(1) {
    background-color: rgb(168, 76, 89);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column: 1 / -1;
    grid-row: 1 / -1;
  }
  #grid-floats > .grid-item:nth-child(n + 2):nth-child(-n + 15) {
    background-color: rgb(48, 95, 107);
    grid-row: unset;
  }
}

/* For Tablets */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #grid-floats > .grid-item:nth-child(1) {
    background-color: rgb(168, 76, 89);
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-column: span 2;
    grid-row: 1 / -1;
  }
  #grid-floats > .grid-item:nth-child(2) {
    grid-column: span 2;
    grid-row: 1 / -1;
  }
  #grid-floats > .grid-item:nth-child(n + 3):nth-child(-n + 15) {
    background-color: rgb(48, 95, 107);
    grid-row: inherit;
  }
}

/* Flexbox */
#grid-flex {
  display: inline-flex;
  flex-flow: row;
  flex-wrap: wrap;
}
#grid-flex > .grid-item:nth-child(1) {
  background-color: rgb(136, 61, 61);
}

#grid-flex > .grid-item:nth-child(n + 2):nth-child(-n + 15) {
  background-color: cadetblue;
  flex-basis: 25em;
  flex-wrap: wrap;
}

/*for mobile phones*/
@media screen and (max-width: 600px) {
  #grid-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  #grid-flex > * {
    padding: 10px;
    flex: 1 100%;
  }

  #grid-flex > .grid-item:nth-child(1) {
    flex-basis: 100%;
  }
  #grid-flex > .grid-item:nth-child(n + 2):nth-child(-n + 15) {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
    flex-wrap: wrap;
  }
}

/* For tablets: */
@media screen and (min-width: 600px) and (max-width: 1024px) {
  #grid-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
  }

  #grid-flex > * {
    padding: 10px;
    flex: 1 100%;
  }

  #grid-flex > .grid-item:nth-child(1) {
    flex-basis: 50%;
  }

  #grid-flex li:nth-of-type(n + 3) {
    flex-basis: 33%;
    flex-wrap: wrap;
  }
}





-------------
body {
  background-color: #a0fd0e;
  text-align: left;

}
img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* For Desktop Computers */
#grid-floats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: dense;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  text-align: center;
  color: rgb(230, 240, 230);
}

#grid-floats > .grid-item:nth-child(1) {
  background-color: rgb(150, 180, 100);
  grid-column: 1 / 3;
}

#grid-floats > .grid-item:nth-child(2) {
  background-color: rgb(70, 120, 140);
  grid-column: 3 / 4;
}

#grid-floats > .grid-item:nth-child(3) {
  background-color: rgb(70, 120, 140);
  grid-column: 4 / 5;
}
#grid-floats > .grid-item:nth-child(n + 4) {
  background-color: rgb(70, 120, 140);
}

/* For tablets with with numbre of pixels between 601 and 1024  */
@media (min-width: 600px) and (max-width: 1024px) {
  #grid-floats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-flow: dense;
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    text-align: center;
    color: rgb(230, 240, 230);
  }
  #grid-floats > .grid-item:nth-child(1) {
    background-color: rgb(150, 180, 100);
    grid-column: 1 / 4;
  }
  #grid-floats > .grid-item:nth-child(2) {
    background-color: rgb(70, 120, 140);
    grid-column: 4 / 7;
  }
  #grid-floats > .grid-item:nth-child(n + 3) {
    background-color: rgb(70, 120, 140);
    grid-column: span 2;
  }

}
/*For mobile phones with less than 600 with pixels*/
@media (max-width: 600px) {
  #grid-floats > .grid-item:nth-child(1) {
    background-color: rgb(150, 180, 100);
    grid-column: 1 / 5;
  }
  #grid-floats > .grid-item:nth-child(n + 2) {
    background-color: rgb(70, 120, 140);
    grid-column: span 2;
  }
}/* Flexbox Editing */
/* For Desktop Computers */
#grid-flex {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  text-align:center;
  list-style-type: none;
  padding-left: 0;
}
#grid-flex > .grid-item:nth-child(1) {
  background-color: rgb(150, 60, 100);
  flex-wrap: wrap;
  flex-basis: calc(50% - 2px);
  border: 1px solid white;
}

#grid-flex > .grid-item:nth-child(n + 2) {
  background-color: rgb(10, 50, 100);
  flex-wrap: wrap;
  flex-basis: calc(25% - 2px);
  border: 1px solid white;
}

/* For tablets with with numbre of pixels between 601 and 1024  */
@media (min-width: 601px) and (max-width: 1024px) {
  #grid-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align:center;
  }
  #grid-flex > .grid-item:nth-child(-n+2) {
    background-color: rgb(150, 60, 100);
    flex: calc(50% - 2px);
    border: 1px solid white;
  }
  #grid-flex li:nth-of-type(n + 3) {
    background-color: rgb(10, 50, 100);
    flex: calc(33.33333% - 2px);
    border: 1px solid white;
  }
}

/*For mobile phones with less than 600 with pixels*/
@media (max-width: 600px) {
  #grid-flex {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    text-align:center;
  }
  #grid-flex > .grid-item:nth-child(1) {
    background-color: rgb(150, 60, 100);
    flex: calc(100% - 2px);
    border: 1px solid white;
  }
  #grid-flex > .grid-item:nth-child(n + 2) {
    background-color: rgb(10, 50, 100);
    flex: calc(50% - 2px);
    border: 1px solid white;
  }
}
p{
  font-family: open sans;
  font-size: 15px;

}

h3{
  font-family: open sans;
  font-style: bold;
  font-size: 30px;
}

