
.grid-item{
height: 200px;


}
#grid-item{


body {
    font-family : 'Hind', sans-serif;
    font-size   : 15px;
    line-height : 1.8em;
    color       : #3d3d50;
    font-weight : 300;
    background  : #ccc;
    }