ul {
    list-style-type: none;
    padding: 0;
  }
li {
    background-color: salmon;
    color: #ccc;
    padding-left: 20px;
  }
  
h1 {
    font-family: open sans, sans-serif;
    font-size: 18px;
  }
  
h2 {
    font-family: open sans, sans-serif;
    font-size: 14px;
  }
  
h3 {
    font-family: open sans, Georgia, Times, serif;
    font-size: 12px;
  }
  
img {
    /* height: 150px; */
    width: 150px;
    border-radius: 10%;
  }